{
  "data": {
    "audit": [
      {
        "id": 1721,
        "group": {
          "id": 383,
          "path": "/rouen/div-01/exportfile",
          "captainLogin": "Mathis",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "$5egk"
        },
        "createdAt": "2022-08-22T12:03:00.202891+00:00",
        "endAt": "2022-09-05T12:03:00.201+00:00",
        "version": "de470efc31d1c5968d4045e14b1ab4ad9a0cf824",
        "grade": null
      },
      {
        "id": 1748,
        "group": {
          "id": 367,
          "path": "/rouen/div-01/search-bar",
          "captainLogin": "Nitroshield",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "wr-p-"
        },
        "createdAt": "2022-08-24T11:08:24.533552+00:00",
        "endAt": "2022-09-07T11:08:24.532+00:00",
        "version": "0571386ccb07fb917cc2a94531c8b3ceeb5de18f",
        "grade": null
      },
      {
        "id": 1791,
        "group": {
          "id": 402,
          "path": "/rouen/div-01/go-reloaded",
          "captainLogin": "emevel",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "wtmw7"
        },
        "createdAt": "2022-08-25T11:28:21.380446+00:00",
        "endAt": "2022-09-08T11:28:21.379+00:00",
        "version": "a0e878d1fe085bfff23eb8d0b4cbf0a434011ea7",
        "grade": null
      },
      {
        "id": 1877,
        "group": {
          "id": 388,
          "path": "/rouen/div-01/go-reloaded",
          "captainLogin": "eelmhamd",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "jubw_"
        },
        "createdAt": "2022-08-27T16:24:15.936679+00:00",
        "endAt": "2022-09-10T16:24:15.935+00:00",
        "version": "f7d5696f9a93ad303d24462af49cee5ccb78e4b4",
        "grade": null
      },
      {
        "id": 2123,
        "group": {
          "id": 468,
          "path": "/rouen/div-01/groupie-tracker",
          "captainLogin": "Svalbard",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "bxent"
        },
        "createdAt": "2022-09-01T12:24:31.951679+00:00",
        "endAt": "2022-09-15T12:24:31.95+00:00",
        "version": "831f006ad953fc78c0375849c5ab31b31fc1bf26",
        "grade": null
      },
      {
        "id": 2132,
        "group": {
          "id": 471,
          "path": "/rouen/div-01/fs",
          "captainLogin": "mboissel",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "s9wmc"
        },
        "createdAt": "2022-09-01T14:56:31.359908+00:00",
        "endAt": "2022-09-15T14:56:31.358+00:00",
        "version": "0129a0656b8494d5e23ebb311a701a9a3474de76",
        "grade": null
      },
      {
        "id": 2143,
        "group": {
          "id": 455,
          "path": "/rouen/div-01/color",
          "captainLogin": "N1c0",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "rqkgc"
        },
        "createdAt": "2022-09-02T11:53:34.068983+00:00",
        "endAt": "2022-09-16T11:53:34.067+00:00",
        "version": "478dfaedf44c6b101311f9fc2d97601ece244f21",
        "grade": null
      },
      {
        "id": 2151,
        "group": {
          "id": 421,
          "path": "/rouen/div-01/geolocalization",
          "captainLogin": "ThenardThomas",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "ut63y"
        },
        "createdAt": "2022-09-02T12:33:24.295693+00:00",
        "endAt": "2022-09-16T12:33:24.294+00:00",
        "version": "5767fda2e6f47862a80b952a403b53de657ea0af",
        "grade": null
      },
      {
        "id": 2167,
        "group": {
          "id": 479,
          "path": "/rouen/div-01/fs",
          "captainLogin": "N1c0",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "mexa?"
        },
        "createdAt": "2022-09-05T11:18:56.154222+00:00",
        "endAt": "2022-09-19T11:18:56.153+00:00",
        "version": "3943857c0ab346cbba4a5f2ac1793609f030fff6",
        "grade": null
      },
      {
        "id": 2241,
        "group": {
          "id": 311,
          "path": "/rouen/div-01/guess-it-1",
          "captainLogin": "max92",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "bys6j"
        },
        "createdAt": "2022-09-06T14:45:08.037188+00:00",
        "endAt": "2022-09-20T14:45:08.036+00:00",
        "version": "0352e7b62b14be17db668e7d96c5dd9ac06b5b7a",
        "grade": null
      },
      {
        "id": 2485,
        "group": {
          "id": 497,
          "path": "/rouen/div-01/exportfile",
          "captainLogin": "mus_36",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "xtqm?"
        },
        "createdAt": "2022-09-14T10:04:08.676278+00:00",
        "endAt": "2022-09-28T10:04:08.675+00:00",
        "version": "ca5f79dab73d67ba89c315f27769363b0085cb53",
        "grade": null
      },
      {
        "id": 2491,
        "group": {
          "id": 523,
          "path": "/rouen/div-01/fs",
          "captainLogin": "mlahbib",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "mu-nx"
        },
        "createdAt": "2022-09-14T15:02:59.66158+00:00",
        "endAt": "2022-09-28T15:02:59.66+00:00",
        "version": "26cd498bd9017f3ea3194156456130b67de8b24f",
        "grade": null
      },
      {
        "id": 2514,
        "group": {
          "id": 550,
          "path": "/rouen/div-01/stylize",
          "captainLogin": "mmancel",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "jpmpb"
        },
        "createdAt": "2022-09-15T09:09:46.916246+00:00",
        "endAt": "2022-09-29T09:09:46.915+00:00",
        "version": "bc563104b60ef97b6b9665b60f24f74f9f2ee3b6",
        "grade": null
      },
      {
        "id": 2519,
        "group": {
          "id": 477,
          "path": "/rouen/div-01/ascii-art-web",
          "captainLogin": "SHADOW00DS",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "$s?q-"
        },
        "createdAt": "2022-09-15T11:37:16.077049+00:00",
        "endAt": "2022-09-29T11:37:16.076+00:00",
        "version": "59820ead6d21fff8eacb414c6c62604920344193",
        "grade": null
      },
      {
        "id": 2576,
        "group": {
          "id": 384,
          "path": "/rouen/div-01/search-bar",
          "captainLogin": "Olawale22",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "d6f2t"
        },
        "createdAt": "2022-09-16T06:40:28.672936+00:00",
        "endAt": "2022-09-30T06:40:28.671+00:00",
        "version": "82b26a45f576b9dc9b74570722dfc84a0856ee09",
        "grade": null
      },
      {
        "id": 2589,
        "group": {
          "id": 529,
          "path": "/rouen/div-01/justify",
          "captainLogin": "Alann",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "ybw49"
        },
        "createdAt": "2022-09-16T12:06:13.819547+00:00",
        "endAt": "2022-09-30T12:06:13.818+00:00",
        "version": "a738772c5a636a4339f0f21ac779d9cca44aecda",
        "grade": null
      },
      {
        "id": 2605,
        "group": {
          "id": 573,
          "path": "/rouen/div-01/push-swap",
          "captainLogin": "DarylParisi",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "$xcrf"
        },
        "createdAt": "2022-09-16T16:46:33.879687+00:00",
        "endAt": "2022-09-30T16:46:33.878+00:00",
        "version": "54d1a34ce9aca3fb26d8006d1c11012f761e645f",
        "grade": null
      },
      {
        "id": 2624,
        "group": {
          "id": 559,
          "path": "/rouen/div-01/tetris-optimizer",
          "captainLogin": "alangloi",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "6x_m7"
        },
        "createdAt": "2022-09-17T14:55:53.140623+00:00",
        "endAt": "2022-10-01T14:55:53.139+00:00",
        "version": "5a3641a6f9f16643645b84df7194605ba842aa51",
        "grade": null
      },
      {
        "id": 2728,
        "group": {
          "id": 569,
          "path": "/rouen/div-01/exportfile",
          "captainLogin": "mlahbib",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "q93m_"
        },
        "createdAt": "2022-09-22T10:55:42.822888+00:00",
        "endAt": "2022-10-06T10:55:42.821+00:00",
        "version": "4e270819d4ad421dd1fcfce8df8ae5bbf960530c",
        "grade": null
      },
      {
        "id": 2931,
        "group": {
          "id": 635,
          "path": "/rouen/div-01/lem-in",
          "captainLogin": "maximediet",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "t$f83"
        },
        "createdAt": "2022-09-30T09:49:14.549294+00:00",
        "endAt": "2022-10-14T09:49:14.548+00:00",
        "version": "06ef19a0bdbb7a953a64c477df763ccc3409292b",
        "grade": null
      },
      {
        "id": 2970,
        "group": {
          "id": 633,
          "path": "/rouen/div-01/linear-stats",
          "captainLogin": "N1c0",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "pg5js"
        },
        "createdAt": "2022-10-03T11:48:29.792053+00:00",
        "endAt": "2022-10-17T11:48:29.791+00:00",
        "version": "5da9aa41a5269adb7a4d1e48a06bce85c3d31cbf",
        "grade": null
      },
      {
        "id": 3007,
        "group": {
          "id": 655,
          "path": "/rouen/div-01/search-bar",
          "captainLogin": "Kenny",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "ezcn5"
        },
        "createdAt": "2022-10-04T13:24:59.144017+00:00",
        "endAt": "2022-10-18T13:24:59.143+00:00",
        "version": "c44eb90a4f873109e63365cf68459868d5d90a13",
        "grade": null
      },
      {
        "id": 3061,
        "group": {
          "id": 663,
          "path": "/rouen/div-01/search-bar",
          "captainLogin": "WarZox",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "jj1hc"
        },
        "createdAt": "2022-10-06T08:12:59.759918+00:00",
        "endAt": "2022-10-20T08:12:59.758+00:00",
        "version": "0e4da82ec301db5728db996c1960cab573e4b1d4",
        "grade": null
      },
      {
        "id": 3181,
        "group": {
          "id": 651,
          "path": "/rouen/div-01/forum",
          "captainLogin": "Ulrik",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "3s-br"
        },
        "createdAt": "2022-10-10T14:32:42.243801+00:00",
        "endAt": "2022-10-24T14:32:42.242+00:00",
        "version": "594df1df22bedcb1c57de5f79f7e926b90fd13e1",
        "grade": null
      },
      {
        "id": 3280,
        "group": {
          "id": 690,
          "path": "/rouen/div-01/search-bar",
          "captainLogin": "Ales",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "$$z-3"
        },
        "createdAt": "2022-10-12T14:41:57.36448+00:00",
        "endAt": "2022-10-26T14:41:57.363+00:00",
        "version": "dd5ac5bcb3c1f82fc1b6660da8388b7c104f4757",
        "grade": null
      },
      {
        "id": 3338,
        "group": {
          "id": 461,
          "path": "/rouen/div-01/color",
          "captainLogin": "emevel",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "49td9"
        },
        "createdAt": "2022-10-14T11:41:41.474794+00:00",
        "endAt": "2022-10-28T11:41:41.473+00:00",
        "version": "935cd87bfee63e6d07c5a3c6dad335df18259a30",
        "grade": null
      },
      {
        "id": 3374,
        "group": {
          "id": 705,
          "path": "/rouen/div-01/guess-it-2",
          "captainLogin": "mukenge",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "me844"
        },
        "createdAt": "2022-10-18T08:03:24.895504+00:00",
        "endAt": "2022-11-01T08:03:24.894+00:00",
        "version": "efd8348dffe41b6f084bef82e26f84cd2f3d8d37",
        "grade": null
      },
      {
        "id": 3441,
        "group": {
          "id": 733,
          "path": "/rouen/div-01/image-upload",
          "captainLogin": "Ulrik",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "8t5zt"
        },
        "createdAt": "2022-10-18T14:12:24.070175+00:00",
        "endAt": "2022-11-01T14:12:24.068+00:00",
        "version": "67e33e7fe7691242f4af0ca7d76fc5b0598c50ca",
        "grade": null
      },
      {
        "id": 3472,
        "group": {
          "id": 658,
          "path": "/rouen/div-01/filters",
          "captainLogin": "Kenny",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "mq1ak"
        },
        "createdAt": "2022-10-19T09:23:56.563351+00:00",
        "endAt": "2022-11-02T09:23:56.562+00:00",
        "version": "58b7788b69ec2291b6362a6cc9cff32e1999ea41",
        "grade": null
      },
      {
        "id": 3494,
        "group": {
          "id": 737,
          "path": "/rouen/div-01/atm-management-system",
          "captainLogin": "WarZox",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "tj4gj"
        },
        "createdAt": "2022-10-19T09:59:11.297432+00:00",
        "endAt": "2022-11-02T09:59:11.296+00:00",
        "version": "ebe53f99f923aa1c7b9a75f1ccc0f656a73a8430",
        "grade": null
      },
      {
        "id": 3504,
        "group": {
          "id": 741,
          "path": "/rouen/div-01/geolocalization",
          "captainLogin": "Guibar",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "1b4vy"
        },
        "createdAt": "2022-10-19T10:49:37.985735+00:00",
        "endAt": "2022-11-02T10:49:37.984+00:00",
        "version": "bc62abd05a9a56042ee7c544b1d5228d026a0e73",
        "grade": null
      },
      {
        "id": 3546,
        "group": {
          "id": 683,
          "path": "/rouen/div-01/visualizations",
          "captainLogin": "Mr.Wolf81",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "k2e$j"
        },
        "createdAt": "2022-10-20T09:46:59.621694+00:00",
        "endAt": "2022-11-03T09:46:59.62+00:00",
        "version": "ebc7943532d81c609d302bd97bf4ba9d17882ab2",
        "grade": null
      },
      {
        "id": 3567,
        "group": {
          "id": 659,
          "path": "/rouen/div-01/groupie-tracker",
          "captainLogin": "athiellana",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "8c43c"
        },
        "createdAt": "2022-10-20T13:08:36.94204+00:00",
        "endAt": "2022-11-03T13:08:36.94+00:00",
        "version": "54bbd7735630417617d2e689411b76d5077632ad",
        "grade": null
      },
      {
        "id": 3579,
        "group": {
          "id": 723,
          "path": "/rouen/div-01/visualizations",
          "captainLogin": "tquedevi",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "q54$m"
        },
        "createdAt": "2022-10-21T07:27:28.14427+00:00",
        "endAt": "2022-11-04T07:27:28.143+00:00",
        "version": "64f92fab27319173d151a2cc830fe27b18577e36",
        "grade": null
      },
      {
        "id": 3599,
        "group": {
          "id": 654,
          "path": "/rouen/div-01/stylize",
          "captainLogin": "SHADOW00DS",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "h9fhh"
        },
        "createdAt": "2022-10-21T09:36:14.506763+00:00",
        "endAt": "2022-11-04T09:36:14.505+00:00",
        "version": "e2042bf0300cd3e91675cc05c27e078dcd437713",
        "grade": null
      },
      {
        "id": 3625,
        "group": {
          "id": 779,
          "path": "/rouen/div-01/math-skills",
          "captainLogin": "Quentindore",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "b$vm2"
        },
        "createdAt": "2022-10-22T12:00:36.142792+00:00",
        "endAt": "2022-11-05T12:00:36.141+00:00",
        "version": "ecf49729c568044f4ed1e56cf684b7730d06d0ed",
        "grade": null
      },
      {
        "id": 3637,
        "group": {
          "id": 783,
          "path": "/rouen/div-01/math-skills",
          "captainLogin": "Mr.Wolf81",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "ywr__"
        },
        "createdAt": "2022-10-22T13:07:50.922237+00:00",
        "endAt": "2022-11-05T13:07:50.921+00:00",
        "version": "9bf88745d870ce2baff556268220f7bc1a0e4b87",
        "grade": null
      },
      {
        "id": 4104,
        "group": {
          "id": 916,
          "path": "/rouen/div-01/make-your-game",
          "captainLogin": "Ulrik",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "hee56"
        },
        "createdAt": "2023-01-03T08:25:12.280344+00:00",
        "endAt": "2023-01-17T08:25:12.279+00:00",
        "version": "c766cbf09a2e76ec1f9983fc6610fa94a8e47e22",
        "grade": null
      },
      {
        "id": 4114,
        "group": {
          "id": 896,
          "path": "/rouen/div-01/my-ls-1",
          "captainLogin": "lemon_42",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "bm7xq"
        },
        "createdAt": "2023-01-03T10:32:46.18742+00:00",
        "endAt": "2023-01-17T10:32:46.186+00:00",
        "version": "eb504c522fca54041fef04b911ae3d2039aa308a",
        "grade": null
      },
      {
        "id": 4123,
        "group": {
          "id": 563,
          "path": "/rouen/div-01/push-swap",
          "captainLogin": "VincentCranney",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "x9k$3"
        },
        "createdAt": "2023-01-03T12:14:29.036608+00:00",
        "endAt": "2023-01-17T12:14:29.036+00:00",
        "version": "21acb59c1a03bef72b361e27aeaa64aeab9c3585",
        "grade": null
      },
      {
        "id": 4183,
        "group": {
          "id": 732,
          "path": "/rouen/div-01/authentication",
          "captainLogin": "Ulrik",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "ukhfv"
        },
        "createdAt": "2023-01-05T08:23:09.74199+00:00",
        "endAt": "2023-01-19T08:23:09.741+00:00",
        "version": "6a5dd1208bc4ed2d0f998e634d857fe85c755f88",
        "grade": null
      },
      {
        "id": 4464,
        "group": {
          "id": 956,
          "path": "/rouen/div-01/visualizations",
          "captainLogin": "athiellana",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "c1$v2"
        },
        "createdAt": "2023-01-13T12:21:44.801372+00:00",
        "endAt": "2023-01-27T12:21:44.8+00:00",
        "version": "4c18576811a44532619de4a8214967979713cd5c",
        "grade": null
      },
      {
        "id": 4523,
        "group": {
          "id": 850,
          "path": "/rouen/div-01/make-your-game",
          "captainLogin": "SHADOW00DS",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "bnp9j"
        },
        "createdAt": "2023-01-18T10:20:30.956699+00:00",
        "endAt": "2023-02-01T10:20:30.955+00:00",
        "version": "e191ab2008320393f025912e0dfca849d5b9f0c5",
        "grade": null
      },
      {
        "id": 4543,
        "group": {
          "id": 938,
          "path": "/rouen/div-01/net-cat",
          "captainLogin": "YHA",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "$-h6w"
        },
        "createdAt": "2023-01-19T12:58:26.456506+00:00",
        "endAt": "2023-02-02T12:58:26.455+00:00",
        "version": "9dde41e277cc14f0205126c056dd0309180f7f1b",
        "grade": null
      },
      {
        "id": 4583,
        "group": {
          "id": 973,
          "path": "/rouen/div-01/history",
          "captainLogin": "DarylParisi",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "28xbn"
        },
        "createdAt": "2023-01-19T15:03:29.386129+00:00",
        "endAt": "2023-02-02T15:03:29.385+00:00",
        "version": "f0644ecf610e7bf76ed721ae6541889a5ddcc6ad",
        "grade": null
      },
      {
        "id": 4613,
        "group": {
          "id": 976,
          "path": "/rouen/div-01/visualizations",
          "captainLogin": "Moxil",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "vcmvy"
        },
        "createdAt": "2023-01-23T08:49:18.089839+00:00",
        "endAt": "2023-02-06T08:49:18.089+00:00",
        "version": "1586219998ecdb3cc013795547dfb597a40cf6a9",
        "grade": null
      },
      {
        "id": 4637,
        "group": {
          "id": 955,
          "path": "/rouen/div-01/different-maps",
          "captainLogin": "Elkantar",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "cg$5$"
        },
        "createdAt": "2023-01-25T12:46:18.647078+00:00",
        "endAt": "2023-02-08T12:46:18.646+00:00",
        "version": "465b7e061d32eea2a5add5ea88aeed38f4b05771",
        "grade": null
      },
      {
        "id": 4647,
        "group": {
          "id": 981,
          "path": "/rouen/div-01/visualizations",
          "captainLogin": "Ales",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "kzbu1"
        },
        "createdAt": "2023-01-27T10:25:16.700409+00:00",
        "endAt": "2023-02-10T10:25:16.699+00:00",
        "version": "ca59497716013f632360a028556c6355f7136d8b",
        "grade": null
      },
      {
        "id": 4657,
        "group": {
          "id": 881,
          "path": "/rouen/div-01/make-your-game",
          "captainLogin": "Thox66",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "h4xts"
        },
        "createdAt": "2023-01-30T12:15:09.610111+00:00",
        "endAt": "2023-02-13T12:15:09.609+00:00",
        "version": "3446d26126319df66eabb7324dca3877cc29bbc8",
        "grade": null
      },
      {
        "id": 4669,
        "group": {
          "id": 984,
          "path": "/rouen/div-01/different-maps",
          "captainLogin": "Thox66",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "z9wd5"
        },
        "createdAt": "2023-02-01T09:26:39.725136+00:00",
        "endAt": "2023-02-15T09:26:39.724+00:00",
        "version": "1b5e96f29ae4d7a055e4d730d6dec8b0a6cb1b89",
        "grade": null
      },
      {
        "id": 4679,
        "group": {
          "id": 986,
          "path": "/rouen/div-01/my-ls-1",
          "captainLogin": "mmancel",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "qx84m"
        },
        "createdAt": "2023-02-01T12:44:30.500897+00:00",
        "endAt": "2023-02-15T12:44:30.5+00:00",
        "version": "9234d7305bd65c0cce0fa59f99951bba52ef2905",
        "grade": null
      },
      {
        "id": 4799,
        "group": {
          "id": 1003,
          "path": "/rouen/div-01/score-handling",
          "captainLogin": "tquedevi",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "c1yv3"
        },
        "createdAt": "2023-02-13T10:45:18.778106+00:00",
        "endAt": "2023-02-27T10:45:18.777+00:00",
        "version": "c4a490618384d09e7a3ae6f2665b21baa76b8021",
        "grade": null
      },
      {
        "id": 4818,
        "group": {
          "id": 1005,
          "path": "/rouen/div-01/my-ls-1",
          "captainLogin": "Dustman7",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "$bc-c"
        },
        "createdAt": "2023-02-14T13:48:59.951115+00:00",
        "endAt": "2023-02-28T13:48:59.95+00:00",
        "version": "dadaab4e2751a6a94f656b8078cf13646dec49e7",
        "grade": null
      },
      {
        "id": 4918,
        "group": {
          "id": 1052,
          "path": "/rouen/div-01/visualizations",
          "captainLogin": "Dustman7",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "cmpy2"
        },
        "createdAt": "2023-03-03T08:49:56.001825+00:00",
        "endAt": "2023-03-17T08:49:56+00:00",
        "version": "7a6bde8cf207ccd5e17259ba75c87bb188f8092d",
        "grade": null
      },
      {
        "id": 4981,
        "group": {
          "id": 1004,
          "path": "/rouen/div-01/image-upload",
          "captainLogin": "Alann",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "3feeb"
        },
        "createdAt": "2023-03-06T15:08:40.313403+00:00",
        "endAt": "2023-03-20T15:08:40.312+00:00",
        "version": "ecdc25218b4f0f0adf0bd8f21d806e209d8f45cf",
        "grade": null
      },
      {
        "id": 5059,
        "group": {
          "id": 1086,
          "path": "/rouen/div-01/guess-it-2",
          "captainLogin": "maximediet",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "sjdpa"
        },
        "createdAt": "2023-03-12T22:59:08.199974+00:00",
        "endAt": "2023-03-26T22:59:08.199+00:00",
        "version": "97d61f8a48d6e32bfee8e60615473149d47ab9e3",
        "grade": null
      },
      {
        "id": 5109,
        "group": {
          "id": 1096,
          "path": "/rouen/div-01/forum",
          "captainLogin": "DarylParisi",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "yjwga"
        },
        "createdAt": "2023-03-16T14:36:17.147545+00:00",
        "endAt": "2023-03-30T14:36:17.146+00:00",
        "version": "ab865ae043b28880d152dae04120f42c6dbf7013",
        "grade": null
      },
      {
        "id": 5149,
        "group": {
          "id": 1100,
          "path": "/rouen/div-01/typing-in-progress",
          "captainLogin": "tquedevi",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "u8-pz"
        },
        "createdAt": "2023-03-17T21:35:29.48115+00:00",
        "endAt": "2023-03-31T21:35:29.48+00:00",
        "version": "65f602b5d0ea1733c0dbddb57af8da44b6f29948",
        "grade": null
      },
      {
        "id": 5192,
        "group": {
          "id": 1002,
          "path": "/rouen/div-01/authentication",
          "captainLogin": "Alann",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "bvq17"
        },
        "createdAt": "2023-03-20T13:06:40.242925+00:00",
        "endAt": "2023-04-03T13:06:40.241+00:00",
        "version": "845224718aca714d0821b027ac8891a624593e48",
        "grade": null
      },
      {
        "id": 5247,
        "group": {
          "id": 1107,
          "path": "/rouen/div-01/advanced-features",
          "captainLogin": "tquedevi",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "a58xp"
        },
        "createdAt": "2023-03-23T08:49:00.865442+00:00",
        "endAt": "2023-04-06T08:49:00.864+00:00",
        "version": "e5f6e0288eb8c820ebd3adc5c0da3f7aa5a5401b",
        "grade": null
      },
      {
        "id": 5304,
        "group": {
          "id": 1119,
          "path": "/rouen/div-01/history",
          "captainLogin": "Svalbard",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "xykkw"
        },
        "createdAt": "2023-03-24T12:17:15.393147+00:00",
        "endAt": "2023-04-07T12:17:15.392+00:00",
        "version": "616ca4161d096af9a21b192f5cee28436fd12a90",
        "grade": null
      },
      {
        "id": 5322,
        "group": {
          "id": 1121,
          "path": "/rouen/div-01/history",
          "captainLogin": "athiellana",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "brx3?"
        },
        "createdAt": "2023-03-24T17:43:34.989275+00:00",
        "endAt": "2023-04-07T17:43:34.988+00:00",
        "version": "99ce185a10622762a61a9072a8a47dd56b594c25",
        "grade": null
      },
      {
        "id": 5336,
        "group": {
          "id": 1124,
          "path": "/rouen/div-01/history",
          "captainLogin": "Quentindore",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "46h$w"
        },
        "createdAt": "2023-03-27T12:05:31.956233+00:00",
        "endAt": "2023-04-10T12:05:31.955+00:00",
        "version": "529212ea28bd30b3aae24657c6fdf5f5ef43b874",
        "grade": null
      },
      {
        "id": 5413,
        "group": {
          "id": 1001,
          "path": "/rouen/div-01/real-time-forum",
          "captainLogin": "Alann",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "e7veh"
        },
        "createdAt": "2023-03-28T13:53:32.576829+00:00",
        "endAt": "2023-04-11T13:53:32.576+00:00",
        "version": "d0b0636b84111f828941bc3e14889a9f9107fd33",
        "grade": null
      },
      {
        "id": 5509,
        "group": {
          "id": 1094,
          "path": "/rouen/div-01/mister-quiz",
          "captainLogin": "Ales",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "x8v_5"
        },
        "createdAt": "2023-04-05T17:07:46.07522+00:00",
        "endAt": "2023-04-19T17:07:46.074+00:00",
        "version": "324d2156bae92cbdbd3a8a690945eecec693d107",
        "grade": null
      },
      {
        "id": 5531,
        "group": {
          "id": 1148,
          "path": "/rouen/div-01/score-handling",
          "captainLogin": "alangloi",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "uk538"
        },
        "createdAt": "2023-04-06T13:32:50.701739+00:00",
        "endAt": "2023-04-20T13:32:50.7+00:00",
        "version": "ac9228ecb32f0e596a33d582b6ccd0bb8a3a5a68",
        "grade": null
      },
      {
        "id": 5796,
        "group": {
          "id": 1163,
          "path": "/rouen/div-01/authentication",
          "captainLogin": "Ales",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "3c-fc"
        },
        "createdAt": "2023-05-02T09:27:46.100663+00:00",
        "endAt": "2023-05-16T09:27:46.1+00:00",
        "version": "d9ce8b0bf9824b7d41d59575e14acd63e6ac0d11",
        "grade": null
      },
      {
        "id": 5817,
        "group": {
          "id": 1189,
          "path": "/rouen/div-01/graphql",
          "captainLogin": "Guibar",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "m9esa"
        },
        "createdAt": "2023-05-05T05:30:30.276589+00:00",
        "endAt": "2023-05-19T05:30:30.275+00:00",
        "version": "7dc936bd75f85d60ed40eb7c6bebd7d81f0454cd",
        "grade": null
      },
      {
        "id": 5877,
        "group": {
          "id": 1158,
          "path": "/rouen/div-01/lem-in",
          "captainLogin": "MarcP",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "q93ka"
        },
        "createdAt": "2023-05-10T15:35:51.822511+00:00",
        "endAt": "2023-05-24T15:35:51.821+00:00",
        "version": "67e9d152570472f57dd88f5a03f775e8aa8c1f2b",
        "grade": null
      },
      {
        "id": 5970,
        "group": {
          "id": 1225,
          "path": "/rouen/div-01/typing-in-progress",
          "captainLogin": "DarylParisi",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "zabjz"
        },
        "createdAt": "2023-05-16T13:03:25.048095+00:00",
        "endAt": "2023-05-30T13:03:25.047+00:00",
        "version": "3b71e076a3b4db4a0dd1313ecb66cf26c867fde5",
        "grade": null
      },
      {
        "id": 5990,
        "group": {
          "id": 1227,
          "path": "/rouen/div-01/typing-in-progress",
          "captainLogin": "Ales",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "_bdnx"
        },
        "createdAt": "2023-05-17T11:19:31.787854+00:00",
        "endAt": "2023-05-31T11:19:31.787+00:00",
        "version": "40cbe6f71c9c316364d1e2f27828935061033bf0",
        "grade": null
      },
      {
        "id": 6002,
        "group": {
          "id": 1135,
          "path": "/rouen/div-01/real-time-forum",
          "captainLogin": "ThenardThomas",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "x5wbu"
        },
        "createdAt": "2023-05-18T15:39:48.336432+00:00",
        "endAt": "2023-06-01T15:39:48.335+00:00",
        "version": "a1b2db7c503d119981a43367c5b699b1a421577b",
        "grade": null
      },
      {
        "id": 6032,
        "group": {
          "id": 1232,
          "path": "/rouen/div-01/typing-in-progress",
          "captainLogin": "ThenardThomas",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "a2$7s"
        },
        "createdAt": "2023-05-19T21:44:16.557741+00:00",
        "endAt": "2023-06-02T21:44:16.557+00:00",
        "version": "9565dfd359db3894dbabafb8f081cb844b5a3e85",
        "grade": null
      },
      {
        "id": 6384,
        "group": {
          "id": 1092,
          "path": "/rouen/div-01/real-time-forum",
          "captainLogin": "lemon_42",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "gxbua"
        },
        "createdAt": "2023-05-23T13:45:56.428393+00:00",
        "endAt": "2023-06-06T13:45:56.427+00:00",
        "version": "75cdd0b92efad92af03bce0d197bfe9a79343901",
        "grade": null
      },
      {
        "id": 9045,
        "group": {
          "id": 1199,
          "path": "/rouen/div-01/real-time-forum",
          "captainLogin": "Thox66",
          "captain": {
            "isAvailable": true
          }
        },
        "private": {
          "code": "aqc-9"
        },
        "createdAt": "2023-06-13T16:26:54.999066+00:00",
        "endAt": "2023-06-27T16:26:54.998+00:00",
        "version": "5aecdca5ab2a25191357b67f2996714c7988e0c6",
        "grade": null
      }
    ]
  }
}