html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{
    font-family: 'IBM Plex Sans', sans-serif;
font-weight: 300;
font-size: 16px;
color: hsl(0, 0%, 80%);
    margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}progress{vertical-align:baseline}[hidden],template{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font:1em monospace,monospace}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,select,textarea{font-style:normal;font-variant:normal;font-weight:400;font-family:inherit;margin:0}optgroup{font-weight:700}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-file-upload-button{-webkit-appearance:button;font-style:normal;font-variant:normal;font-weight:400;font-family:inherit}
/* IBM PLEX MONO */
/* cyrillic-ext */


html {
background-color: hsl(0, 0%, 16%);
color: hsl(0, 0%, 80%);
font-family: 'IBM Plex Sans', sans-serif;
font-weight: 300;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
hyphens: auto;
}

.trame {
position: fixed;
width: 100vw;
height: 100vh;
opacity: 0.1;
background: center / cover url(./img/01-trame.svg);
}

.logo {
width: 130px;
height: 50px;
background: center / cover url(./img/logo.png);
position: absolute;
top: 30px;
left: 30px;
}

.page-container {
padding: 100px 100px 125px 125px;
width: 100%;
min-height: 100vh;
z-index: 2;
position: relative;
}

.blocks-container {
display: flex;
}

.left {
width: 50%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.right {
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 15px;
}

.authenticate-button {
color: white;
background-color: hsl(216, 96%, 52%);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
order: 1;
}

.authenticate-button:hover {
background-color: hsl(240, 96%, 52%);
}

.authenticate {
width: 100%;
flex-direction: column;
}

.cas-sign-in-wrapper {
display: none;
justify-content: center;
height: 100%;
align-items: end;
}

.title {
font-family: 'IBM Plex Mono', monospace;
font-size: 4rem;
font-weight: 300;
}

.welcome {
margin-bottom: 60px;
}

.text {
font-size: 1.25rem;
line-height: 1.5;
color: hsl(0, 0%, 60%);
padding-right: 100px;
}



#loading {
    font-family: Roboto, Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    padding: 10%;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.7);
    
}

.boxes {
    height: 32px;
    width: 32px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    margin-top: 32px;
    -webkit-transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}
.boxes .box {
    width: 32px;
    height: 32px;
    top: 0px;
    left: 0;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}



.boxes .box:nth-child(1) {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-animation: box1 1s linear infinite;
    animation: box1 1s linear infinite;
}
.boxes .box:nth-child(2) {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-animation: box2 1s linear infinite;
    animation: box2 1s linear infinite;
}
.boxes .box:nth-child(3) {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
    -webkit-animation: box3 1s linear infinite;
    animation: box3 1s linear infinite;
}
.boxes .box:nth-child(4) {
    -webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
    -webkit-animation: box4 1s linear infinite;
    animation: box4 1s linear infinite;
}



.boxes .box > div {
    background: #5C8DF6;
    --translateZ: 15.5px;
    --rotateY: 0deg;
    --rotateX: 0deg;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #5C8DF6;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    -webkit-transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
    transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}

.boxes .box > div:nth-child(1) {
    top: 0;
    left: 0;
    background: #5C8DF6;
}
.boxes .box > div:nth-child(2) {
    background: #145af2;
    right: 0;
    --rotateY: 90deg;
}
.boxes .box > div:nth-child(3) {
    background: #447cf5;
    --rotateX: -90deg;
}
.boxes .box > div:nth-child(4) {
    background: #DBE3F4;
    top: 0;
    left: 0;
    --translateZ: -90px;
}





@keyframes box1 {
    0%,
    50% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(200%, 0);
    }
}

@keyframes box2 {
    0%{
        transform: translate(0, 100%);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

@keyframes box3 {
    0%,
    50% {
        transform: translate(100%, 100%);
    }
    100% {
        transform: translate(0, 100%);
    }
}

@keyframes box4 {
    0%{
        transform: translate(200%, 0);
    }
    50% {
        transform: translate(200%, 100%);
    }
    100% {
        transform: translate(100%, 100%);
    }
}



.password-strength-info {
display: flex;
margin: auto;
font-family: 'IBM Plex Mono', monospace;
font-size: 0.8rem;
}

.password-strength-indicator, .join-us {
display: none;
}

.password {
display: flex;
}

.login {
display: block;
}

.error-message {
display: none;
color: hsl(0, 98%, 54%);
}

.pop-up-error {
display: flex;
position: fixed;
padding: 10%;
top: 0;
right: 0;
height: 100vh;
width: 100vw;
background-color: rgba(0,0,0,0.7);
color: white;
font-size: 1.5em;
justify-content: center;
align-items: center;
flex-direction: column;
}

.password-container {
display: inline-block;
position: relative;
}

.eye {
position: absolute;
cursor: pointer;
right: 0;
top: 25%;
}

.email-validation {
padding: 5%;
border: 2px solid gray;
border-radius: 10px;
font-family: 'IBM Plex Mono', monospace;
font-weight: 300;
text-align: center;
}

button {
border-radius: 2px;
font-family: 'IBM Plex Mono', monospace;
font-size: 0.7rem;
letter-spacing: 1px;
text-transform: uppercase;
padding: 15px;
font-weight: 300;
border: none;
width: 160px;
}

ul {
list-style: none;
padding: 0;
}

li {
margin-bottom: 25px;
display: flex;
flex-direction: column;
margin-top: 10px;
}

p {
font-family: 'IBM Plex Mono', monospace;
font-size: 0.8rem;
}

input {
width: 100%;
background: transparent;
color: hsl(0, 0%, 75%);
padding-top: 7px;
padding-bottom: 7px;
border: none;
border-bottom: solid 1px hsl(0, 0%, 50%);
font-weight: 100;
font-size: 16px;
}

input:-webkit-autofill {
background-color: transparent !important;
}

input:focus {
outline: none;
border-bottom: solid 1px hsl(0, 0%, 70%);
}

label {
display: inline-block;
text-align: left;
font-size: 1.25rem;
line-height: 1.5;
color: hsl(0, 0%, 60%);
}

.bgGrey2 {
color: hsl(0, 0%, 8%);
background-color: hsl(0, 0%, 80%);
transition: background-color 0.2s ease-in-out;
}

.sign-in-button {
color: white;
background-color: hsl(260, 100%, 70%);
width: 225px;
justify-content: center;
}

.hoverWhite:last-child:hover {
color: hsl(0, 0%, 8%);
background-color: rgba(245, 245, 245, 0.705);
}

#buttons {
margin-top: 45px;
display: flex;
align-items: center;
justify-content: flex-end;
}

.contact,
.switch-authentication,
.forgot-password {
font-family: 'IBM Plex Mono', monospace;
font-size: 0.8rem;
display: flex;
}

.switch-authentication {
margin-right: 20px;
}

.forgot-password {
justify-content: end;
}

.contact {
margin-top: 30px;
}

a,
button {
text-decoration: none;
}

.contact a,
.switch-authentication span,
.forgot-password span {
color: hsl(216, 96%, 52%);
cursor: pointer;
padding-bottom: 4px;
border-bottom: solid 1px hsl(216, 96%, 52%);
margin-left: 9px;
}

.arrow {
margin-right: 2px;
font-family: 'IBM Plex Sans', sans-serif;
}

@media (max-width: 1175px) {
.page-container {
padding: 100px;
}

.blocks-container {
flex-direction: column;
}

.title {
font-size: 2.5rem;
}

.welcome {
font-size: 2.5rem;
}

.left {
width: 100%;
order: 2;
}

.right {
order: 1;
width: 100%;
margin-bottom: 75px;
align-self: flex-end;
padding-left: 0;
}

label {
font-size: 1.1rem;
}

.contact {
padding-top: 50px;
}
}

@media (max-width: 700px) {
body {
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

#name{
    display: none;
}

label {
font-size: 1rem;
}

input {
margin-left: 0;
}

.logo {
width: 60px;
height: 24px;
}

.page-container {
padding: 50px;
}
.blocks-container {
flex-direction: column;
height: 100%;
}

.left {
text-align: center;
padding-top: 0;
}

.right {
align-items: center;
padding-left: 0;
margin-top: 35px;
margin-bottom: 60px;
width: 100%;
margin-right: 0;
}

.title {
padding: 0 20px;
}

.welcome {
margin-bottom: 30px;
padding: 0 20px;
text-align: center;
}

.text {
font-size: 1rem;
padding: 0;
}

#buttons {
flex-direction: column;
align-items: center;
}

.switch-authentication {
order: 2;
margin-top: 30px;
}

.contact a {
margin-top: 10px;
margin-left: 0;
}

.contact {
margin-top: 0;
flex-direction: column;
align-items: center;
}
}

@media (max-width: 400px) {
.switch-authentication a {
margin-top: 10px;
}

.switch-authentication {
flex-direction: column;
align-items: center;
}
}

.backnav{
    background: linear-gradient( to bottom, hsl(0, 0%, 5%) 0%, rgba(0, 0, 0, 0.35) 59%, transparent 100% );
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
}

.linklogo{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_logo{
    height: 35px;
    padding-left: 20px;
}

.right_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right_items{
    padding-right: 30px;
    padding-left: 10px;
    color: hsl(0, 0%, 80%);
}
.alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.git{
    padding-right: 33px;
}
.hoverPurple:hover *{
    fill: hsl(260, 100%, 70%) ;
    color: hsl(260, 100%, 70%) ;
}
.strokepurple:hover *{
    stroke: hsl(260, 100%, 70%) ;
}
#welcom{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}
.purpl{
    color: hsl(260, 100%, 70%);
}

.audit {
    z-index: -4;
    display: none;
    position: absolute;
    flex-direction: column;
    padding-top: 70px;
    width: 275px;
    overflow-y: scroll;
    max-height: 365px;
    scroll-behavior: smooth;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.audit_items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 30px 20px 30px;
    background-color: hsl(0, 0%, 10%);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.25);
    
}

.all_audit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.all_audit:hover .audit{
    display: flex;
    transition: 0.5s ease-in-out;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
}


.audittitle{
    padding-top: 2px;
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px rgba(255, 255, 255, 0.25);
    padding-bottom: 15px;
    font-size: 0.9rem;
    color: hsl(0, 0%, 50%);
    width: 100%;
    text-align: center;

}
.audit_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    border-bottom:solid 1px rgba(255, 255, 255, 0.25);
}

.pseudo{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 5px;
}
.audit_clone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.coppy{
    font-size: medium;
    font-weight: 300;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    border: 2px solid hsl(260, 100%, 70%);
    color:hsl(260, 100%, 70%) ;
}
.coppy:hover{
    background-color: hsl(260, 100%, 70%);
    border: 2px solid hsl(0, 0%, 80%);
    color: hsl(0, 0%, 80%);
    transition: 0.5s ease-in-out;
}
.code_audit{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 5px 10px 5px;
    border: hsl(60, 100%, 70%) solid 3px;
    color: hsl(60, 100%, 70%);
}

.profile_grid{
    margin-top: var(--px5);
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    grid-auto-rows: 230px;
    overflow-y: scroll;
  
}

@media (max-width: 1300px){
    .profile_grid{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    
    .ratio_grid{
        grid-column: 2 !important;
        grid-row: 2 !important;
    }
    .activ_grid{
        grid-column: 3 !important;
        grid-row: 2 !important;
    }
}
@media (max-width: 900px){
    .profile_grid{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .score{
        font-size: 3rem !important;
    }
    .xps_grid{
        grid-column: 2 !important;
        grid-row: 1 / 3 !important;
        font-weight: 200;
        font-size: large;
    }
    .ratio_grid{
        grid-column: 1 !important;
        grid-row: 3 !important;
    }
    .act_items{
        width: 100% !important;
        justify-content: space-between;
    }
    .activ_grid{
        grid-column: 2 !important;
        grid-row: 3 !important;
    }
}
@media (max-width: 600px){
    .profile_grid{
        grid-template-columns: 100%;
        grid-auto-rows: 130px;
    }
    .score{
        font-size: 2rem !important;
    }
    .xps_grid{
        grid-column: 1 !important;
        grid-row: auto / span 2 !important;
        font-weight: 200;
        font-size: large;
    }
    .ratio_grid{
        grid-column: 1 !important;
        grid-row: auto / span 2 !important;
    }
    .activ_grid{
        grid-column: 1 !important;
        grid-row: auto / span 2 !important;
    }
    .skills_grid{
        grid-column: auto / span 1!important;
        grid-row: auto / span 4 !important;
    }
}
:root{
    --white: #ffffff;
--darkGrey: hsl(0, 0%, 16%);
--darkBlack: hsl(0, 0%, 10%);
--black: hsl(0, 0%, 5%);
--grey: hsl(0, 0%, 15%);
--grey1: hsl(0, 0%, 90%);
--grey2: hsl(0, 0%, 80%);
--grey3: hsl(0, 0%, 70%);
--grey4: hsl(0, 0%, 60%);
--grey5: hsl(0, 0%, 50%);
--grey6: hsl(0, 0%, 40%);
--grey7: hsl(0, 0%, 30%);
--grey8: hsl(0, 0%, 20%);
--grey9: hsl(0, 0%, 10%);
--red: hsl(340, 100%, 50%);
--red1: hsl(340, 100%, 90%);
--red2: hsl(340, 100%, 80%);
--red3: hsl(340, 100%, 70%);
--red4: hsl(340, 100%, 60%);
--red5: hsl(340, 100%, 40%);
--red6: hsl(340, 100%, 30%);
--red7: hsl(340, 100%, 20%);
--red8: hsl(340, 100%, 10%);
--green: hsl(130, 100%, 60%);
--green1: hsl(130, 100%, 90%);
--green2: hsl(130, 100%, 80%);
--green3: hsl(130, 100%, 70%);
--green4: hsl(130, 100%, 50%);
--green5: hsl(130, 100%, 40%);
--green6: hsl(130, 100%, 30%);
--green7: hsl(130, 100%, 20%);
--green8: hsl(130, 100%, 10%);
--darkGreen: hsl(170, 100%, 35%);
--darkGreen1: hsl(170, 100%, 90%);
--darkGreen2: hsl(170, 100%, 80%);
--darkGreen3: hsl(170, 100%, 70%);
--darkGreen4: hsl(170, 100%, 60%);
--darkGreen5: hsl(170, 100%, 50%);
--darkGreen6: hsl(170, 100%, 40%);
--darkGreen7: hsl(170, 100%, 20%);
--darkGreen8: hsl(170, 100%, 10%);
--blue: hsl(216, 100%, 49%);
--blue1: hsl(216, 100%, 90%);
--blue2: hsl(216, 100%, 80%);
--blue3: hsl(216, 100%, 70%);
--blue4: hsl(216, 100%, 60%);
--blue5: hsl(216, 100%, 40%);
--blue6: hsl(216, 100%, 30%);
--blue7: hsl(216, 100%, 20%);
--blue8: hsl(216, 100%, 10%);
--lightBlue: hsl(185, 100%, 50%);
--lightBlue1: hsl(185, 100%, 90%);
--lightBlue2: hsl(185, 100%, 80%);
--lightBlue3: hsl(185, 100%, 70%);
--lightBlue4: hsl(185, 100%, 60%);
--lightBlue5: hsl(185, 100%, 40%);
--lightBlue6: hsl(185, 100%, 30%);
--lightBlue7: hsl(185, 100%, 20%);
--lightBlue8: hsl(185, 100%, 10%);
--purple: hsl(260, 100%, 70%);
--purple1: hsl(260, 100%, 90%);
--purple2: hsl(260, 100%, 80%);
--purple3: hsl(260, 100%, 60%);
--purple4: hsl(260, 100%, 50%);
--purple5: hsl(260, 100%, 40%);
--purple6: hsl(260, 100%, 30%);
--purple7: hsl(260, 100%, 20%);
--purple8: hsl(260, 100%, 10%);
--orange: hsl(35, 100%, 50%);
--orange1: hsl(35, 100%, 90%);
--orange2: hsl(35, 100%, 80%);
--orange3: hsl(35, 100%, 70%);
--orange4: hsl(35, 100%, 60%);
--orange5: hsl(35, 100%, 40%);
--orange6: hsl(35, 100%, 30%);
--orange7: hsl(35, 100%, 20%);
--orange8: hsl(35, 100%, 10%);
--yellow: hsl(60, 100%, 50%);
--yellow1: hsl(60, 100%, 90%);
--yellow2: hsl(60, 100%, 80%);
--yellow3: hsl(60, 100%, 70%);
--yellow4: hsl(60, 100%, 60%);
--yellow5: hsl(60, 100%, 40%);
--yellow6: hsl(60, 100%, 30%);
--yellow7: hsl(60, 100%, 20%);
--yellow8: hsl(60, 100%, 10%);
--px1: 5px;
--px2: 10px;
--px3: 15px;
--px4: 20px;
--px5: 25px;
--px6: 30px;
--px7: 35px;
--px8: 40px;
--px9: 50px;
--px10: 60px;
--px11: 75px;
--px12: 100px;
--px13: 125px;
--px14: 150px;
--px15: 175px;
--px16: 200px;
--px17: 225px;
--px18: 250px;
--px19: 275px;
--px20: 300px;
--rem1: 0.5rem;
--rem2: 0.75rem;
--rem3: 1rem;
--rem4: 2rem;
--rem5: 4rem;
--rem6: 8rem;
--rem7: 16rem;
}
.level_case{
    display: flex;
    flex-direction: column;
    padding-left: var(--px3);
    padding-right: var(--px3);
    padding-top: var(--px5);
    padding-bottom: var(--px5);
    grid-column: 1;
    grid-row: auto / span 2;
    align-items: center;
    justify-content: space-between;
    fill: var--(grey1);
    background-color: var(--grey1);
    color: var(--darkBlack);
    hyphens:none;
    box-sizing: content-box;
}
.level_header{
    text-align: center;
    font-size: 1.25rem;
    hyphens: none;
    box-sizing: content-box;
}
.rank_header{
    margin-bottom: var(--px1);
    font-size: 0.8rem;
    color: var(--grey4);
    hyphens: none;
    box-sizing: content-box;
}
.rank{
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: var(--px2);
    hyphens: none;
    box-sizing: content-box;
}
.next {
    font-family: 'IBM Plex Mono', monospace;
    border-top: solid 1px var(--grey7);
    hyphens: none;
    box-sizing: content-box;
    padding-top: var(--px2);
    font-size: 0.8rem;
}
#svg_level_draw{
    max-width: var(--px18);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--darkBlack);
    height: 100%;
}
.circl{
    height: 150px;
    width: 150px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--grey1);
    border-radius: 50%;
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.2));
}
.level{
    font-size: 0.75rem;
}
.num_lev{
    color: var(--darkBlack);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.5rem;
}
.xps_grid{
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 2 / 4;
    justify-content: space-between;
    padding-top: var(--px5);
    padding-bottom: var(--px5);
    padding-left: var(--px6);
    padding-right: var(--px6);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    background-color: hsla(210, 0%, 10%, 0.75);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.xps_grid:hover {
    background-color: var(--black);
}
.score{
    font-size: 4rem;
    color: var(--purple);
}
.Grey{
    color: var(--grey7) ;
}
.Last_div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.last_header{
    padding-bottom: var(--px1);
    width: 100%;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 0.75rem;
    color: var(--grey5);
    border-bottom:solid 1px var(--grey5);
}
.act_items{
    padding-top: 2px;
    padding-bottom: 0;
    margin-top: var(--px1);
    width: 45%;
    font-size: 0.75rem;
    display: flex;
    align-items: baseline;

}
.last_discription{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.75rem;
    color: var(--grey4);
}
.last_score{
    margin-left: var(--px3);
    white-space: nowrap;
    font-size: 0.75rem;
    color: var(--grey3);
}
.ratio_grid{
    display: flex;
    flex-direction: column;
    grid-row: 2;
    grid-column: 2 ;
    justify-content: space-between;
    padding-top: var(--px5);
    padding-bottom: var(--px5);
    padding-left: var(--px6);
    padding-right: var(--px6);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    background-color: hsla(210, 0%, 10%, 0.75);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.ratio_grid:hover {
    background-color: var(--black);
}
.audit_header{
    font-size: 1.25rem;
    color: var(--grey1);
}
.div1_0{
    margin-top: var(--px1);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text_message{
    display: flex;
    align-items: flex-end;
    color: var(--yellow3);
}
.div1_1{
    width: 100%;
}
.div1_2{
    width: 100%;
    height: var(--px5);
}
.div2_0{
    height: var(--px5);
    width: 100%;
}
.div3_0{
    margin-left: var(--px3);
}
.div3_1{
    white-space: nowrap;
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--px2);
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 0.7rem;
    align-items: flex-end;
    color: var(--grey4);

}
.div3_2{
    order: 2;
    display: flex;
    align-items: center;
}
.div3_3{
    display: flex;
    align-items: center;
    margin-left: var(--px1);
}
.div4_0{
    white-space: nowrap;
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--px2);
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 0.7rem;
    align-items: flex-end;
    color: var(--grey4);
}
.centering{
    display: flex;
    align-items: center;
}
.Message_ratio{
    margin-left: var(--px3);
}
.activ_grid{
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 4 ;
    justify-content: space-between;
    padding-top: var(--px5);
    padding-bottom: var(--px5);
    padding-left: var(--px6);
    padding-right: var(--px6);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    background-color: hsla(210, 0%, 10%, 0.75);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.activ_grid:hover {
    background-color: var(--black);
}
.active{
    display: flex;
    align-items: center;
    margin-bottom: var(--px1);
    justify-content: space-between;
    color: var(--grey1);
}
.active_header{
    font-size: 0.75rem;
    color: var(--grey4);
    font-family: 'IBM Plex Mono', monospace;
}
 .active_p{
    border-radius: 50%;
    height: var(--rem3);
    width: var(--rem3);
    background-color: var(--lightBlue3);
 }
.active_info{
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--lightBlue3);
    font-size: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.blue{
    color: var(--lightBlue3);
    text-transform: uppercase;
}
.capitalize-01{
    text-transform: capitalize;
}
.skills_grid{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    grid-row: auto / span 2;
    grid-column: auto / span 2 ;
    justify-content: space-between;
    padding-top: var(--px5);
    padding-bottom: var(--px5);
    padding-left: var(--px6);
    padding-right: var(--px6);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    background-color: hsla(210, 0%, 10%, 0.75);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.skills_grid:hover{
    background-color: var(--black);
}
.skills_heder{
    margin-bottom: var(--px5);
    width: 100%;
}
.heder{
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    color: var(--grey1);
}
.skills_det{
    font-family: 'IBM Plex Mono', monospace;
    margin-top: var(--px3);
    font-size: 0.8rem;
    color: var(--grey4);
}
.skil_svg{
    margin-top: var(--px6);
    margin-bottom: var(--px6);
    padding-bottom: var(--px7);
}
.go_profile{
    background-color: transparent;
}
#deco{
    background-color: transparent;
}